[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python main.py"

[packages]
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
oauthlib = "*"
pyyaml = "*"
requests = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-freezegun = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
